table {
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(199, 204, 209);
}

h1 {
    color: red;
    text-align: center;
}


h1 span {
    text-align: left;
    color: royalblue;
}

/* .mine {
    display: none;
} */