body {
    background: url('nuc.jpg');
  }


table {
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(3, 40, 77);
        height: 400px;
        width: 400px;

}
.cell {
    width:30px;
    height:30px;
    text-align: center;
    color: yellow;
}

/* .cell img {width:25px; height:auto} */

h1 {
    color: red;
    text-align: center;
}


h1 span {
    text-align: left;
    color: rgb(9, 241, 20);
}


h2 {
    text-align: center;
}

/* .mine {
    display: none;
} */


h3 {
    text-align: center;
}

.board td:hover {
    background-color: lightsalmon;
}


button {
    color: brown;
    background-color: greenyellow;
    border-radius: 50%;
    font-size: 20px;
}

.timer {
    text-align: center;
    font-size: 40px;
    color: red;
    
}
